:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --white-text-color: #FFFFFF;
    --accent: #2196F3;
    --background-header: #FFFFFF;
    --background-hero: #2F303A;
    --background-main: #F5F5F5;
    --background-team: #F5F4FA;
    --background-footer: #2F303A;
    --logo: #000000;
    --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}